<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 mb-4">
        <a class="navbar-brand" href="/">BlogFlow</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/topics">Теми</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Про нас</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/blog/add">Додати статтю</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/profile">Профіль</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin">Адмін</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Вийти</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/login">Увійти</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/register">Реєстрація</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>